Xpath in leafref (in grouping) is not resolved

If there is a leaf which is defined in a grouping and its type is leafref, then the path in this leafref is not resolved.
For instance,
`module m1 {
    prefix m;
    ...
    container c1 {
        leaf l1 {
            type string;
        }
    }
    grouping g1 {
        leaf gl1 {
             type leafref {
                 path "/m:c1/m:l1";
             }
        }
    }
}`
In this example, "/m:c1/m:l1", all the XpathNameTest.ref in this Xpath are always eProxy. It seems that they have been resolve yet, whatever the resolveAll() has been invoked or not.


I found there is a LocalNodeScopeContext (defined in ScopeContext:80) which is used for Grouping ScopeContext, (in ScopeContextProvider:388). 
So basically, from my understanding, all the crossreference in a grouping will only be resolved in the current grouping scope context. But I think this is not enough.

According to [RFC 7950 Section 5.4 Resolving grouping, ...](https://tools.ietf.org/html/rfc7950#section-5.4),
to resolve a type in a grouping, for example, the context should be the original module. If I understand correctly, here the ScopeContext should be the whole original module, including its own definitions, imports and includes, but not only the grouping scope context.

Agree?


Unfortunately, this change breaks a lot of tests.
I pushed a unit test for this specific case to jk/gh132.

Hi Jan, 
I create a new PR #133 on jk/gh132 branch. 
The change works but I think there should be better fix solution.

Please help to review it when you have time.

Had a deeper dive into that. 
1) Your fix applies to the path expression (the consumer of the scope). I think it should rather be in the scope.
2) Our current code expects groupings to define their own completely local node scope that is not connected to the module's node scope, i.e. elements from the module's node scope are not visible within the group. A grouping is in that sense self contained. Maybe this assumption is wrong? OTOH,  there is `yt5.yang` stating
```
...
container foo {
  uses foo;
}

grouping foo {
    leaf foo { type foo; }
}
```
which causes a name collision when the module's nodes are visible. Maybe that test is wrong?
Or is it that references to the outer node must be qualified, like in your example they are prefixed with `m:`?

This test case data is correct, from my understanding. There is no failure test case in my environment. Maybe you changed the test file?
But I'm still trying to understand the name collision which you mentioned. In this case, if there is a schema node identifier try to reference 'foo', then it will become a problem, linker will find two object which named with 'foo'. Is that what you mean? Well, this is a complex issue.

First your assumption in bullet 2, '...A grouping is in that sense self contained. '  
I think this assumption is not correct.

According to RFC7950, Section 7.12.  The "grouping" Statement,
'Identifiers appearing inside the grouping are resolved relative to the scope in which the grouping is defined, not where it is used.  Prefix mappings, type names, grouping names, and extension usage are evaluated in the hierarchy where the "grouping" statement appears. '

I'd like to point out, 'Prefix mapping, ...', there is no way to define prefix in a grouping, So obviously, here 'the hierarchy where the "grouping" statement appears' means to the module where grouping is defined, but not only the grouping scope itself.

Secondly, regarding to the yt5.yang test case, I doubt whether the grouping node should be register as a schema node into schema node scope or not. Still in Section 7.12
'   ....   The "grouping" statement is not a data definition statement and, as such, does not define any nodes in the schema tree.'
Grouping is not a data definition statement (container, list, leaflist, ...), and it doesn't define any nodes in schema tree.
So from my understanding, container 'foo' and grouping 'foo', should not be registered into a same schema node scope. The grouping 'foo' shouldn't be registered as schema node actually. (This will solve the name collision, right?)
Futher more, data definitions in grouping 'foo', like leaf 'foo' should only be registered into schema node scope when the grouping is 'uses' somewhere, like in container 'foo'. 
But on the other side, the grouping local node scope should still be initialized. Because there might be key reference defined in a grouping which reference to the leaf which defined in the same grouping.

 

OK, so there must be so kind of shadowing in place for node scopes within groupings, as the can refer to grouping local elements (e.g. key references) as well as other elements from the surrounding module (e.g. your path expression).

Pushed a fix.

BTW, Have you updated yang-eclipse ang yang-vscode accordingly? I couldn't find the updated plugins for yang-eclipse and yang-vscode available.

Yang Eclipse is published automatically, but we currently don't bump the version number. 
Updating from Eclipse should work because of the version qualifier timestamp.

Just published the VS Code extension (1.6.8)



I found from VS Code, Yang VS Code Extension's version looks very strange, '1.6.7777777'. And I can't find 1.6.8 available yet.
![code_2018-06-20_09-27-23](https://user-images.githubusercontent.com/809513/41644112-7d89a5dc-746d-11e8-83fe-4b4310f6a7f1.png)
When will Yang VS Code Extension ready to download?


I tried to republish as 1.7.0. Stay tuned.

Should be there now

Yes, it is updated now. Thx.